<div class="row">
    <div class="col footer-icon">
        <a href="/your-crop">
            <i class="fa fa-pagelines " aria-hidden="true"></i>
        </a>
    </div>

    <div class="col footer-icon">
        <a href="/community">

            <i class="fa fa-list-alt" aria-hidden="true"></i>
        </a>
    </div>

    <div class="col footer-icon">
        <a href="#">

            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </a>
    </div>

    <div class="col footer-icon">
        <a href="#">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
    </div>

</div>
