.container {
    padding: 20px;
}

.head {
    box-shadow: 0px 1px 0px 0px #888888;
    display: flex;
}

.fert-bk-icon {
    font-size: 30px;
}

a {
    color: black;
}

p {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
}

.header-icon {
    width: 45px;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 50%;
    float: right;
}