<div class="container">
    <div class="head">
        <a href="/your-crop">
            <i class="fa fa-arrow-circle-o-left fert-bk-icon" aria-hidden="true"></i>
        </a>
        <p><b> Pests & Diseases </b> </p>
    </div>

    <div class="row">
        <div class="col">
            <p><b>Banana</b></p>
        </div>
        <div class="col">
            <img class="header-icon" src="../../../../assets/images/banana.png" />

        </div>
        <mat-form-field appearance="fill">
            <mat-label>Change Crop</mat-label>
            <mat-select>
                <mat-option value="option1">Banana</mat-option>
                <mat-option value="option2">Apple</mat-option>
                <mat-option value="option3">Brinjal</mat-option>
                <mat-option value="option3">Carrot</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <h3>Nothing relevant this week</h3>
        <p>There haven't any pets </p>
    </div>


</div>