<div style="background: #e3e3e3">
    <div class="container" style="background: white">
        <div class="head">
            <a href="/your-crop">
                <i class="fa fa-arrow-circle-o-left fert-bk-icon" aria-hidden="true"></i>
            </a>
            <h2><b> Pests & Diseases </b></h2>
        </div>

        <div class="row">
            <div class="col">
                <h2><b>Banana</b></h2>
            </div>
            <div class="col">
                <img class="header-icon" src="../../../../assets/images/banana.png" />
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Change Crop</mat-label>
                <mat-select>
                    <mat-option value="option1">Banana</mat-option>
                    <mat-option value="option2">Apple</mat-option>
                    <mat-option value="option3">Brinjal</mat-option>
                    <mat-option value="option3">Carrot</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div style="padding: 10px">
        <div>
            <div>
                <h2>Nothing relevant this week</h2>
                <p>There haven't any pests reported near your location</p>
                <img style="width: 150px; float: right" src="../../../../assets/images/plants.png" alt="" />
            </div>
            <div style="margin-top: 100px; background: #fbfbdd; text-align: center; border-radius: 5px;">
                <h2>Field Monitoring</h2>
                <p>Catch early and prevent the build-up of fatal pests in your field</p>
                <button type="button" class="btn btn-primary btn-lg btn-block">
          Learn More
        </button>
                <img style="
          width: 335px; border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;" src="../../../../assets/images/crop.jpg" alt="" />
            </div>
        </div>
        <div style="margin-top: 15px;">
            <h2 style="margin-bottom: 0px">Diseases by stage</h2>
            <p>
                All pests and diseases that might appear in your crop at different stages
            </p>
        </div>
        <br>

        <div class="row">
            <div style="    display: -webkit-inline-box;">
                <img style="width: 32px; border-radius: 50%" src="../../../../assets/images/crop1.png " alt="" />
                <h3 style="padding: 5px;"><b> Seeding by stage</b></h3>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>

            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-secondary btn-lg">See More</button>
            </div>
        </div>



        <div class="row">
            <div style="    display: -webkit-inline-box;">
                <img style="width: 32px; border-radius: 50%" src="../../../../assets/images/crop1.png " alt="" />
                <h3 style="padding: 5px;"><b> Vegetative stage</b></h3>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>

            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-secondary btn-lg">See More</button>
            </div>
        </div>


        <div class="row">
            <div style="    display: -webkit-inline-box;">
                <img style="width: 32px; border-radius: 50%" src="../../../../assets/images/crop1.png " alt="" />
                <h3 style="padding: 5px;"><b> Flowering stage</b></h3>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>

            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-secondary btn-lg">See More</button>
            </div>
        </div>


        <div class="row">
            <div style="    display: -webkit-inline-box;">
                <img style="width: 32px; border-radius: 50%" src="../../../../assets/images/crop1.png " alt="" />
                <h3 style="padding: 5px;"><b> Fruiting stage</b></h3>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>

            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-secondary btn-lg">See More</button>
            </div>
        </div>



        <div class="row">
            <div style="    display: -webkit-inline-box;">
                <img style="width: 32px; border-radius: 50%" src="../../../../assets/images/crop1.png " alt="" />
                <h3 style="padding: 5px;"><b> Harvesting stage</b></h3>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>

            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b> Yellow and Black Sigatoka</b></p>
            </div>
            <div class="col img-crop">
                <img src="../../../../assets/images/crop1.png" alt="">
                <p>Fungus</p>
                <p><b>Yellow and Black Sigatoka</b></p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-secondary btn-lg">See More</button>
            </div>
        </div>

        <div class="crop-dia">
            <div style="    display: -webkit-inline-box;">
                <img style="width: 32px; border-radius: 50%" src="../../../../assets/images/crop1.png " alt="" />
                <h5 style="padding: 5px;"> Crop diagnosis</h5>
            </div>

            <h4 style="margin-bottom: 0px;">Identify your crops issue in a few seconds</h4>
            <p>Quickly identify the exact problem with your crop.</p>
            <div style="text-align: center;">
                <button type="button" class="btn btn-primary btn-lg">Diagnose</button>
            </div>

        </div>
    </div>
</div>
