<mat-toolbar color="primary" class="example-toolbar" style="position:fixed;top:0px;left:0px;height:45px;">
    <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button> -->
    <!-- <img src="../assets/images/logo1.png" style="height:40px;" /> -->
    <p>Footwear App</p>
    <h1 class="example-app-name" style="position: absolute;left: 22%;">{{headTitle}}</h1>
    <button mat-mini-fab style="position: absolute; right: 70px; color:white">
        <mat-icon >perm_identity</mat-icon>
      </button>
    <mat-icon style="position: absolute; right: 130px; color:white">notifications</mat-icon>
    <mat-icon style="position: absolute; right: 180px; color:white">sms</mat-icon>

    <mat-icon style="position: absolute; right: 20px; color:white">more_vert</mat-icon>

</mat-toolbar>