.header-icon {
    width: 45px;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 50%;
}

.container {
    border-radius: 5px;
    border: 1px solid gray;
    margin: 20px 0 20px 5px;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.pests {
    margin: 20px 0 20px -10px;
}

.cam-icon {
    font-size: 45px;
}

.cam-label {
    font-size: 11px;
    margin-left: -12px;
}

.btn-lg {
    width: 100%;
    border-radius: 50px;
    margin-top: 20px;
    height: 30px;
    font-size: 17px;
    padding: 0;
}

.heal-section {
    margin: 5px;
    padding: 15px;
    background-color: #dddddd;
    border-radius: 5px;
}

.weather-img {
    width: 100px;
    margin-left: 50px;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}

.culti {
    margin: 20px 0 20px -24px;
    padding: 20px 16px 0px 16px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: white; // add styles properties here
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    background-color: gray;
    font-weight: 700;
    color: black;
    opacity: 1;
    width: 28px;
    height: 70px;
    border-radius: 50%;
}