<div class="containter" style=" padding: 10px;   box-shadow: 10px 0px;">

    <h3>Plantix</h3>

</div>
<div class="containter">
    <mat-tab-group animationDuration="2000ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <img class="header-icon" src="../../../../assets/images/banana.png" />
            </ng-template>
            <div class="row">
                <div class="col">
                    <a href="/fertilizer">
                        <div class="container">
                            <div>
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            </div>
                            <br />
                            <div>
                                <p>Fertilizer Calculator</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/pests-diseases">
                        <div class="container pests">
                            <div>
                                <mat-icon>bug_report</mat-icon>

                            </div>
                            <br />
                            <div>
                                <p>Pests & Diseases</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <img class="header-icon" src="../../../../assets/images/apple.jpg" />
            </ng-template>
            <div class="row">
                <div class="col">
                    <a href="/fertilizer">
                        <div class="container">
                            <div>
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            </div>
                            <br />
                            <div>
                                <p>Fertilizer Calculator</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/pests-diseases">
                        <div class="container pests">
                            <div>
                                <mat-icon>bug_report</mat-icon>

                            </div>
                            <br />
                            <div>
                                <p>Pests & Diseases</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <img class="header-icon" src="../../../../assets/images/brinjal.png" />
            </ng-template>
            <div class="row">
                <div class="col">
                    <a href="/fertilizer">
                        <div class="container">
                            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            <br />
                            <p>Fertilizer Calculator</p>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/pests-diseases">
                        <div class="container pests">
                            <mat-icon>bug_report</mat-icon>

                            <br />
                            <p>Pests & Diseases</p>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/cultivation-tips">
                        <div class="container culti">
                            <mat-icon>bug_report</mat-icon>

                            <br />
                            <p>Cultivation Tips</p>
                        </div>
                    </a>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <img class="header-icon" src="../../../../assets/images/carrot.png" />
            </ng-template>
            <div class="row">
                <div class="col">
                    <a href="/fertilizer">
                        <div class="container">
                            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            <br />
                            <p>Fertilizer Calculator</p>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/pests-diseases">
                        <div class="container pests">
                            <mat-icon>bug_report</mat-icon>

                            <br />
                            <p>Pests & Diseases</p>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#">
                        <div class="container culti">
                            <mat-icon>bug_report</mat-icon>

                            <br />
                            <p>Cultivation Tips</p>
                        </div>
                    </a>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <img class="header-icon" src="../../../../assets/images/ginger.png" />
            </ng-template>
            <div class="row">
                <div class="col">
                    <a href="/fertilizer">
                        <div class="container">
                            <div>
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            </div>
                            <br />
                            <div>
                                <p>Fertilizer Calculator</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/pests-diseases">
                        <div class="container pests">
                            <div>

                            </div>
                            <br />
                            <div>
                                <p>Pests & Diseases</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>


<!-- take a picture -->

<div class="containter">

    <div>
        <p><b>Heal your crop</b></p>
    </div>
    <div class="row heal-section">
        <div class="col">
            <i class="fa fa-camera cam-icon" aria-hidden="true"></i>
            <label class="cam-label">Take a picture</label>
        </div>
        <div class="col">
            <i class="fa fa-list-alt cam-icon" aria-hidden="true"></i>
            <label class="cam-label">See Diagnosis</label>


        </div>
        <div class="col">
            <i class="fa fa-list-alt cam-icon" aria-hidden="true"></i>
            <label class="cam-label">Get Medicine</label>



        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Take a Picture</button>
    </div>
</div>






<!-- weather section -->

<div class="containter">

    <div>
        <p><b>Weather</b></p>
    </div>
    <div class="row heal-section">
        <div class="col">
            <p>Today, 8 Oct</p>
            <p style="font-size: 30px;">24.1&deg;C</p>
            <p>Sunset 6:02PM</p>
        </div>
        <div class="col">
            <img class="weather-img" src="../../../../assets/images/cloud.png" alt="">


        </div>
        <p><b> Rain and humid throught the day</b></p>


    </div>
</div>
