<app-admin-header [title]="'Login'"></app-admin-header>
<div class="example-container">
    <mat-divider></mat-divider>
    <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field><br>
    <div class="example-button-row">
        <button mat-button color="primary">
            Login</button><br><br>
        <a href="#">Forgot Password?</a>
    </div>
</div>
