<app-admin-header [title]="title"></app-admin-header>

<mat-card style="width:98%; margin-left:2%">
    <button mat-raised-button color="primary"><mat-icon> scatter_plot</mat-icon> &nbsp; Crops 100</button>
    <button mat-raised-button color="accent"><mat-icon> scatter_plot</mat-icon> &nbsp; Agri Shops 90</button>
    <button mat-raised-button color="warn"><mat-icon> scatter_plot</mat-icon> &nbsp; Userr 180</button>
    <button mat-raised-button style="background-color: #119911; color: white;"><mat-icon> scatter_plot</mat-icon> &nbsp;  Diseases List 767</button>
    <button mat-raised-button style="background-color: orange; color: white;"><mat-icon> scatter_plot</mat-icon> &nbsp; Products List 7868</button>
    <button mat-raised-button color="primary"><mat-icon> scatter_plot</mat-icon> &nbsp; Remedies 45</button>
    <button mat-raised-button color="accent"><mat-icon> scatter_plot</mat-icon> &nbsp; Notifications 145</button>

</mat-card>