<div class="container" style="    box-shadow: 0 0px 10px grey;">
    <div class="head">
        <a href="/your-crop">
            <i class="fa fa-arrow-circle-o-left fert-bk-icon" aria-hidden="true"></i>
        </a>
        <p><b> Fertilizer </b> </p>
    </div>

    <div>
        <h6>Nutrient quantities</h6>
        <span>N: 120</span> &nbsp; &nbsp;
        <span>P: 75</span>&nbsp; &nbsp;
        <span>K: 75</span>
        <span style="float: right;"><a href="#">Edit</a></span>
    </div>

    <div>
        <h6>Unit</h6>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Acre</mat-radio-button>
            <mat-radio-button value="2">Hectare</mat-radio-button>
            <mat-radio-button value="3">Gunta</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
        <h6>Plot Size</h6>
        <p style="font-size: 12px;color: gray;">Sizes smiler than one unit are expressed as 0. Example: hal acre = 0.5</p>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn-+">-</button>
        </div>
        <div class="col">
            <label style="font-size: 40px;"> 1.0</label> <br>
            <label style="font-size: 12px; margin-right: 10px;">Hectare</label>
        </div>

        <div class="col btn-add">
            <button type="button" class="btn-+ ">+</button>

        </div>

    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Calculate</button>




</div>
