.fert-bk-icon {
    font-size: 30px;
}

p {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
}

.container {
    padding: 20px;
}

.head {
    box-shadow: 0px 1px 0px 0px #888888;
    display: flex;
}

::ng-deep .mat-radio-label-content {
    padding-right: 10px !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: blue
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: blue;
}

.btn-+ {
    border: 1px solid gray;
    border-radius: 50%;
    width: 40px;
}

.btn-add {
    margin-right: -75px;
}

.btn-lg {
    width: 100%;
    border-radius: 50px;
    margin-top: 20px;
    height: 30px;
    font-size: 17px;
    padding: 0;
}

a {
    color: black;
}